extends ../layouts/main.pug
block title
  title About

block content
  div(class="container about-page")
   div(class="content-box")
     div(class="col-md-8")
      h1 About Page
      p.
        I'm baby bicycle rights brunch fixie, flannel farm-to-table everyday carry yr pabst actually. Kinfolk kickstarter neutra street art tilde. Meditation trust fund microdosing stumptown, paleo meggings art party vice quinoa disrupt beard. Gluten-free hell of meggings chillwave put a bird on it 8-bit waistcoat health goth. Shabby chic neutra tilde retro semiotics readymade pinterest sartorial pok pok biodiesel green juice gentrify. Taiyaki beard truffaut post-ironic squid meggings hot chicken edison bulb authentic four loko offal mumblecore shabby chic direct trade poke. Selfies kitsch palo santo kombucha single-origin coffee fashion axe, sartorial stumptown you probably haven't heard of them synth crucifix vice enamel pin whatever tacos.
     div(class="col-md-4")
       img(src="https://th.bing.com/th/id/OIP.0peS-cWwi08-ktQW4wh4IwHaHa?w=168&h=180&c=7&o=5&pid=1.7")