.content-box {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 20px -2px rgba(38, 33, 38, 0.5);
    -moz-box-shadow: -1px 1px 20px -2px rgba(38, 33, 38, 0.5);
    box-shadow: -1px 1px 20px -2px rgba(38, 33, 38, 0.5);
}