@import "reset";
@import "grid";
@import "global";
@import "variables";
@import "home";
@import "about";

* {
  font-family: $mainFont;
  box-sizing: border-box;
}

body {
  background: $bodyBG;
}

header {
  background: $headerBG;
  overflow: auto;
  padding: 15px 20px;
  position: fixed;
  width: 100%;

  .logo {
    display: inline-block;
    font-family: $displayFont;
    color: white;
    font-size: 1.3rem;
  }

  .menu {
    display: inline-block;
    float: right;

    ul {
      li {
        padding: 0 10px;
        display: inline-block;

        a {
          font-family: $mainFont;
          color: white;
          font-weight: 300;
        }
      }
    }
  }
}

.content-area {
  padding-top: 49px;
}