extends ../layouts/main.pug
block title
  title Projects

block content
  div(class="container projects-page show-page ")
   div(class="content-box")
    div(class="row")
      div(class="col-md-12")
       h1 Show Project
       p. 
        I baby flexitarian small batch YOLO, gentrify polaroid typewriter squid mustache thundercats. Woke cold-pressed cray, poutine tofu edison bulb viral enamel pin raclette. Squid next level waistcoat, helvetica migas bespoke sartorial gluten-free godard. Pour-over tilde intelligentsia hashtag umami street art 3 wolf moon mlkshk. Ennui crucifix swag, put a bird on it lumbersexual banh mi locavore pork belly umami pour-over. Gluten-free man braid hella coloring book skateboard twee adaptogen air plant, tattooed stumptown.
        Master cleanse hoodie fixie coloring book marfa taiyaki live-edge man braid wayfarers food truck bushwick vinyl af. Cardigan authentic poke meggings tbh quinoa neutra selvage cred man braid put a bird on it. Pickled portland locavore, retro whatever swag narwhal etsy palo santo vice +1 banh mi photo booth pop-up jean shorts. Celiac affogato shoreditch, mumblecore paleo man bun locavore pour-over vegan chillwave viral chambray bicycle rights knausgaard kale chips. Offal affogato kitsch, raclette normcore air plant you probably haven't heard of them hoodie listicle prism lomo. XOXO put a bird on it typewriter poke austin meditation.
       div(class="col-md-4")
         img(src="https://cdn.dribbble.com/users/1212780/screenshots/4848317/projects.png")
       div(class="col-md-4")
         img(src="https://cdn.dribbble.com/users/1212780/screenshots/4848317/projects.png")
       div(class="col-md-4")
         img(src="https://cdn.dribbble.com/users/1212780/screenshots/4848317/projects.png")
      div(class="col-md-12")
        img(src="https://cdn.dribbble.com/users/1212780/screenshots/4848317/projects.png")